.card-body img{
  height: 110px !important;
}
.flip-div{
  cursor: pointer;
}
.flip-div:hover .back,.flip-div.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip-div:hover .front,.flip-div.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-main{
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.front{width: 350px;
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.back{ width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.back ul li a{
  font-size: 18px;
}
.front,.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-sZtyle: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}





.bnr-center {
  text-align: center;
}
#nom{    display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;margin-top: 100px;}
 .sub-title {
  text-transform: uppercase;
  font-weight: 500;
}
 .sub-title {
  font-size: 60px;
  line-height: 1.2;
}

  .site-button {
    margin-top: 10px;
    color: #b3d7ff;
    padding: 12px 30px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid ;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    transition: background-color 0.3s;
  }
  .site-button:hover{
    background-color:#f1c40f !important;color: #fff;border: 2px solid #f1c40f;font-style: italic  }
#chips{display: none}
.card:hover #chips{display: block}
