<div class="page-wraper">
  <div class="banner-section line-move" id="background" style=''>
    <div class="banner-inner bnr-center">
      <div class="container">
        <div class="row mt-4">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="flip-div">
              <div class="flip-main">
                <div class="front">
                  <div class="card" style="margin-top: 100px;margin-bottom: 100px;margin-left:30%">
                    <div class="card-body text-center pb-2">
                      <p><img class="rounded-circle" src="assets/125571360_722200781986925_5612077470170868221_n%20(1).jpg"></p>
                      <h5 class="card-title"><strong>Ben Mustapha Jihen</strong></h5>
                      <p class="card-text">Hover me!</p>
                      <a href="#" class="btn btn-info btn-sm"><i class="fa fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="back rounded">
                  <div class="card">
                    <div class="card-body text-center">
                      <h4 class="card-title"><strong>Ben Mustapha jihen</strong></h4>
                      <p class="card-text">
                        Bonjour,

                        je m'appelle jihen Ben Mustapha, élève ingénieur en 4éme année en génie logiciel à ESPRIT. J'ai
                        l'honneur de vous présenter à travers cet e-Portfolio mes parcours et mes réalisations qui
                        dévoilent ma passion pour le développement web et logiciel.Je suis à la rechercher d'un poste de
                        développeur avec une bonne ambiance de travail en équipe afin de développer mes compétences.

                        Consultez mon e-Portfolio et n'hésitez pas à me contacter en cas de besoin</p>
                      <p class="card-text" id="chips"> <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Motivée</mat-chip>
                        <mat-chip>Sérieuse</mat-chip>
                        <mat-chip color="primary" selected>Sociable</mat-chip>
                        <mat-chip color="accent" selected>Curieuse</mat-chip>
                      </mat-chip-list></p>

                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-3" style="position:center;margin-left:30%;margin-top: 5%">
            <div id="nom" class="banner-inner bnr-center"><h3 class="sub-title"> I' am</h3>
              <span class="text-gradient"> Ben Mustapha Jihen</span>
              <div> <a class="site-button" href="assets/Ben%20Mustapha%20Jihen%20cv.docx">
                Check My Cv
              </a></div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
