

<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
<style> li{}</style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto navbar-collapse justify-content-center">


        <li class="nav-item"> <div class="container"> <a class="nav-link"  routerLink="Biographie" href="#" >
Biographie        </a></div>
        </li>


    <!--    <li class="nav-item">
          <a class="nav-link" href="#" routerLink="Biographie">Biographie</a>
        </li>-->

        <li class="nav-item">
          <div class="container"><a class="nav-link" routerLink="Competences" href="#">
            Compétences </a></div>
        </li>

<!--
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="Competences">Compétences</a>
        </li>-->

        <li class="nav-item">
          <div class="container"><a class="nav-link" routerLink="Formation" href="#" >
            Formation</a></div>
        </li>

<!--

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="Formation">Formation</a>
        </li>
-->



        <li class="nav-item ">
          <div class="container"><a class="nav-link" routerLink="Contact" href="#" >
            Contact</a></div>
        </li>
<!--
        <li class="nav-item">
          <a class="nav-link" routerLink="Contact" href="#">Contact</a>
        </li>-->
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<footer class="py-5 bg-dark">
  <div class="container" style="background:100vw ">
    <p class="m-0 text-center text-white">Copyright &copy; Jihen's Website 2021</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!-- Plugin JavaScript -->

<!-- Custom JavaScript for this theme -->

