<div
  style="
    background: url('../../assets/s1\ \(3\).jpg');
    background-size: cover !important;
    min-width: 100% !important;
  "
>
  <div class="row">
    <!--   <section id="sec">
 -->

    <h3
      style="
        font-size: 250%;
        padding-top: 5em;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Potta One', 'Open Sans', sans-serif !important;
        color: #fefefe;
      "
    >
      <u> Mes projets</u>
    </h3>
    <div class="full-color-white" style="padding-top: 6em">
      <div>
        <div
          style="
            padding-top: 5%;
            padding-left: 4%;
            padding-right: 4%;
            z-index: -1;
            overflow-y: auto !important;
          "
          class="row"
        >
          <div
            class="col-lg-4"
            *ngFor="
              let proj of projects
                | paginate: { itemsPerPage: 6, currentPage: pp };
              let i = index
            "
            style="margin: 15px 0"
          >
            <div style="display: flex; justify-content: center">
              <div class="card" style="min-height: 13em">
                <div style="display: flex">
                  <div>
                    <img
                      class="card-img-top"
                      style="
                        min-width: 100%;
                        height: 50%;
                        padding: 10px 0px;
                        padding-top: 0px;
                      "
                      src="assets/icon_code.png"
                      alt="Card image cap"
                    />
                  </div>
                  <div>
                    <h3
                      class="card-header"
                      style="
                        display: flex;
                        justify-content: space-between;
                        font-family: 'Courier New', Courier, monospace;
                      "
                    >
                      <div>{{ proj.name }}</div>
                    </h3>
                  </div>
                  <div class="card-body" style="padding-bottom: 0px">
                    <div
                      class="badge badge-pill"
                      *ngFor="let outil of proj.outils"
                      style="
                        background: linear-gradient(
                          90deg,
                          rgba(88, 88, 88, 0.589) 0%,
                          rgba(56, 56, 56, 0.589) 15%,
                          rgba(37, 37, 37, 0.541) 79%
                        ) !important;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow',
                          Arial, sans-serif !important;
                        font-size: 16px;
                        display: block;
                        margin-bottom: 5px;
                        padding: 2px 7px;
                        width: max-content;
                        color: rgb(243, 243, 243);
                      "
                    >
                      {{ outil }} &nbsp;<!-- <span>x{{plat.quantity}}</span> -->
                    </div>
                  </div>
                </div>
                <p
                  class="card-text"
                  *ngFor="let tach of proj.tache"
                  style="padding-left: 2em"
                >
                  <i
                    class="fa fa-arrow-right"
                    aria-hidden="true"
                    *ngIf="proj.tache.length > 0"
                  ></i>
                  {{ tach }}
                </p>
                <a
                  [href]="proj.lien"
                  *ngIf="proj.lien"
                  style="
                    font-size: 15px;
                    text-decoration: none;
                    padding-left: 2em;
                    color: blueviolet;
                  "
                  >lien vers le site web</a
                >

                <p
                  class="card-text"
                  *ngIf="proj.video && proj.video.includes('assets')"
                >
                  <video width="100%" height="300" controls>
                    <source src="{{ proj.video }}" type="video/mp4" />
                  </video>
                </p>
                <div class="card-footer">
                  <div *ngFor="let dat of proj.date">
                    <small class="text-muted">
                      {{ dat.debut }}
                      <span *ngIf="dat.fin != ''">
                        <i
                          class="fa fa-long-arrow-right"
                          aria-hidden="true"
                        ></i>
                        {{ dat.fin }}</span
                      >
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          style="text-align: center"
          (pageChange)="pp = $event"
        ></pagination-controls>
      </div>
    </div>
    <div
      class="row"
      style="margin-left: auto !important; margin-right: auto !important"
    >
      <!--   <section id="sec">
 -->
      <h3 class="col-lg-12"
        style="
          font-size: 250%;
          padding-top: 5em;
          font-family: 'Potta One', 'Open Sans', sans-serif !important;
          color: #fefefe;
        "
      >
        <u> Designs</u>
      </h3>
    </div>
    <br>
    <br>
    <p
      class="row"
      style="margin-left: auto !important; margin-right: auto !important"
    >
      <!--   <section id="sec"> -->
      <span class="col-lg-4" *ngFor="let img of images" style="padding-top: 2em">
        <img [src]="'assets/' + img" width="50%" />
      </span>
    </p>
  </div>
</div>
