<!--<figure class="snip1543" style="margin-top: 100px">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample108.jpg" alt="sample108" />
  <figcaption>
    <h3>CYCLE D’INGENIEURS 2019- 2022</h3>
    <p>Ecole Supérieur Privée d’ingénierie et de technologies (ESPRIT)</p>
  </figcaption>
  <a href="#"></a>
</figure>-->
<link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
<div style=";background-size: cover;margin-top: 0px;margin-right:0px;text-align:center;">
  <h3 style="  font-size: 250%;
  font-family:'Potta One', 'Open Sans', sans-serif;color: #fefefe;
">
    <div style="margin-top: 100px"><u>Formation</u></div>
  </h3>
  <figure style="margin-top: 30px" class="snip1543 hover"><img
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample108.jpg" alt="sample108"/>
    <figcaption>
      <h3>CYCLE D’INGENIEURS 2019- 2022</h3>
      <p>Ecole Supérieur Privée d’ingénierie et de technologies (ESPRIT)</p>
    </figcaption>
    <a href="#"></a>
  </figure>

  <figure class="snip1543 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample100.jpg"
                                      alt="sample100"/>
    <figcaption>
      <h3>CYCLE PREPARATOIRE 2017-2019</h3>
      <p>ISEPBG Soukra</p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <!--<figure class="snip1543"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" />
    <figcaption>
      <h3>Indigo Violet</h3>
      <p>But Calvin is no kind and loving god! He's one of the old gods! He demands sacrifice! </p>
    </figcaption>
    <a href="#"></a>
  </figure>-->


  <figure class="snip1543 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg"
                                      alt="sample100"/>
    <figcaption>
      <h3>2014-2017</h3>
      <p>Lycée Marsa Erriadh</p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <h3 style="  font-size: 250%;
  font-family: 'Potta One','Open Sans', sans-serif;color: #fefefe;
">
    <div style="margin-top: 30px"><u>Formation certifiante</u></div>
  </h3>
  <!--  //procede de conservation et transformation-->


  <div style="margin-left:20%; margin-bottom:10%">
    <div class="container-lg">

      <div class="row">

        <div class="col-sm">


          <mat-card class="example-card" style="width: 21em;margin-top: 30px;">
            <mat-card-header class="p-3 mb-2 bg-warning text-dark">
              <mat-card-title>Angular et sprint boot</mat-card-title>
              <mat-card-subtitle>3.01.2021</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card" src="assets/0001.jpg" alt="Photo of js Animation">
          </mat-card>
        </div>

        <div class="col-sm">


          <mat-card class="example-card" style="width: 21em;margin-top: 50px;">
            <mat-card-header class="p-3 mb-2 bg-warning text-dark">
              <mat-card-title>Construction d'un site Wordpress </mat-card-title>
              <mat-card-subtitle>14.11.2020</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card" src="assets/wordpress.png" alt="Photo of WS">
          </mat-card>
        </div>





    </div>
    <div class="row">



      <div class="col-sm">


        <mat-card class="example-card" style="width: 21em;margin-top: 50px;">
          <mat-card-header class="p-3 mb-2 bg-warning text-dark">
            <mat-card-title>Manipulation des bases de données</mat-card-title>
            <mat-card-subtitle>9.10.2020</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="card" src="assets/manipulation%20data.png" alt="Photo of Manipulationg data">
        </mat-card>
      </div>


      <div class="col-sm">

        <mat-card  class="example-card" style="width: 21em;margin-top: 50px;">
          <mat-card-header class="p-3 mb-2 bg-warning text-dark">
            <mat-card-title>Javascript Animation</mat-card-title>
            <mat-card-subtitle>24.09.2020</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="card" src="assets/animation.png" alt="Photo of js Animation">

        </mat-card>
      </div>

    </div>
    <div class="row">

      <div class="col-sm">


        <mat-card class="example-card" style="width: 21em;margin-top: 50px;">
          <mat-card-header class="p-3 mb-2 bg-warning text-dark">
            <mat-card-title>Introduction au User Experiences,principes et processus</mat-card-title>
            <mat-card-subtitle>22.07.2020</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="card" src="assets/ux.png" alt="Photo of UX">
        </mat-card>
      </div>


      <div class="col-sm">

        <mat-card class="example-card" style="width: 21em;margin-top: 50px;">
          <mat-card-header class="p-3 mb-2 bg-warning text-dark">
            <mat-card-title>Java Orienté Objet</mat-card-title>
            <mat-card-subtitle>19.07.2020</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="card" src="assets/orintejava.png" alt="Photo of java oriente objet">

        </mat-card>
      </div>

    </div>
  </div>

<script>

  /* Demo purposes only */
  $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
</script>
</div>
